.auth-modal__top-section
  span.auth-modal__title
    = "Смена пароля"
  span.pull-right
    = link_to "Вход", new_user_session_path
.auth-modal__main-section
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render 'layouts/messages'
    - resource.errors.full_messages.each do |error|
      div class="alert alert-danger"
        button.close[type="button" data-dismiss="alert" aria-hidden="true"] ×
        = content_tag :div, error
    = f.hidden_field :reset_password_token
    .form-group
      = f.password_field :password, autocomplete: "off", placeholder: "Пароль", class: 'form-control'
    .form-group
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Подрверждение пароля", class: 'form-control'
    .actions
      span.auth-modal__wider-button
        = f.submit "Сменить пароль", class: 'btn btn-primary'

