.auth-modal__top-section
  span.auth-modal__title
    = "Пароль потерялся"
  span.pull-right
    = link_to "Вход", new_user_session_path
.auth-modal__main-section
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
    = render 'layouts/messages'
    - resource.errors.full_messages.each do |error|
      div class="alert alert-danger"
        button.close[type="button" data-dismiss="alert" aria-hidden="true"] ×
        = content_tag :div, error
    p
      | Мы вышлем письмо для смены пароля вам на электронную почту, указанную при регистрации:
    .form-group
      = f.email_field :email, autofocus: true, placeholder: "Электронная почта", class: 'form-control'
    .actions
      span.auth-modal__wider-button
        = f.submit "Отправить", class: 'btn btn-primary'