.auth-modal__top-section
  span.auth-modal__title
    = "Вход"
  span.pull-right
    = link_to "Регистрация", new_user_registration_path
.auth-modal__main-section
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render 'layouts/messages'
    - resource.errors.full_messages.each do |error|
      div class="alert alert-danger"
        button.close[type="button" data-dismiss="alert" aria-hidden="true"] ×
        = content_tag :div, error
    .form-group
      = f.email_field :email, autofocus: true, placeholder: "Электронная почта", class: 'form-control'
    .form-group
      = f.password_field :password, autocomplete: "off", placeholder: "Пароль", class: 'form-control'
    /br
    /- if devise_mapping.rememberable?
    /  .form-group
    /    label
    /      = f.check_box :remember_me
    /      = 'Запомнить меня'
    .actions
      span.auth-modal__wider-button
        = f.submit "Войти", class: 'btn btn-primary'
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        span.auth-modal__recover-link.pull-right
          = link_to "Забыли пароль?", new_password_path(resource_name)
