@import "overrides";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "account";
@import "devise";

body {
  margin-top: 60px;
}

.navbar {
  border-bottom: solid 1px $brand-primary;
}

.navbar .navbar-toggle .icon-bar {
  background-color: $brand-primary;
}