.vertical-align {
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth-body {
  margin-top: 0;
}

.auth-modal {
  max-width: 450px;
  float: none;
  margin: 0 auto;
}

.auth-modal__top-section {
  border: solid 1px #CCCCCC;
  border-radius: $border-radius-base $border-radius-base 0 0;
  padding: 15px 25px;
}

.auth-modal__main-section {
  padding: 25px;
  margin-top: -1px;
  border: solid 1px #CCCCCC;
  border-radius:  0 0 $border-radius-base $border-radius-base;
}

.auth-modal__title {
  font-size: 20px;
  font-weight: 200;
  color: black;
}

.auth-modal__wider-button .btn {
  min-width: 125px;
}