/ navigation styled for Bootstrap 3.0
nav.navbar.navbar-fixed-top
  .container
    ul.nav.navbar-nav.pull-right
      li
        = link_to "Выход", destroy_user_session_path, method: :delete if user_signed_in?
