doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Enicad'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Enicad'}"
    == stylesheet_link_tag 'application'
    == javascript_include_tag 'application'
    == csrf_meta_tags
  body
    header
      == render 'layouts/navigation'
    main[role="main"]
      .container
        .row
          .col-md-12
            == render 'layouts/messages'
          .col-md-12
            == yield