doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : Rails.application.to_s
    meta name="description" content="#{content_for?(:description) ? yield(:description) : Rails.application.to_s}"
    == stylesheet_link_tag 'application'
    == javascript_include_tag 'application'
    == csrf_meta_tags
  body.auth-body
    main[role="main"]
      .container
        .row.vertical-align
          .auth-modal
            == yield